.default-label {
  color: #575555;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.default-input {
  background-color: #fff;
  border: none;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
  width: 22rem;
}
