.resultado {
  border-bottom: 1px solid #383838;
  border-top: 1px solid #383838;
  list-style-type: none;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 263px;

  li {
    color: #383838;
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }
}
